<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">

    <%= f.text_area :content, placeholder: "コメントを書き入れてください。" %>
    <%= f.hidden_field :kubun  %>
  </div>
  <%= f.submit "送信する。", class: "btn btn-primary" %>
<% end %>
